global
    log stdout format raw local0 debug
    maxconn 2048

defaults
    log global
    mode http
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms

frontend http
    bind *:80
    default_backend jira

backend jira
    mode http
    balance roundrobin
    cookie JSESSIONID prefix
    option httpchk GET /status.jsp
    #server jira1 10.0.0.20:30000 check cookie jira1
    #server jira2 10.0.0.21:30000 check cookie jira2
