global
    log stdout format raw local0 debug
    maxconn 2048
    tune.ssl.default-dh-param 2048

defaults
    log global
    mode http
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms

frontend http
    bind *:80
    default_backend jira

backend jira
    mode http
    balance roundrobin
    cookie JSESSIONID prefix
    option httpchk GET /status.jsp
    server jira1 10.0.0.20:30000 check cookie jira1
    server jira2 10.0.0.21:30000 check cookie jira2

listen stats 
    bind *:8085
    mode http
    stats enable
    stats uri /stats
    stats realm HAProxy-04\ Statistics
    stats auth admin:password
    stats admin if TRUE 

# defaults
#     # never fail on address resolution
#     default-server init-addr last,libc,none

# frontend http
#   bind *:80
#   default_backend jira

# backend jira
#   balance roundrobin
# #   option httpchk GET /status
# #   option forwardfor
#   cookie JSESSIONID prefix nocache
#   server jira1 10.0.0.20:30000 check cookie jira1
#   server jira2 10.0.0.21:30000 check cookie jira2



# backend certbot
#   server certbot certbot:80 maxconn 32


# global
#     log /dev/log    local0
#     log /dev/log    local1 notice
#     chroot /var/lib/haproxy
#     # stats socket /run/haproxy/admin.sock mode 660 level admin
#     stats timeout 30s
#     user haproxy
#     group haproxy
#     daemon

# defaults
#     log global
#     mode    http
#     option  httplog
#     option  dontlognull
#     option  forwardfor
#     option  http-server-close
#     option  redispatch
#     retries 3
#     timeout http-request    10s
#     timeout queue           1m
#     timeout connect         10s
#     timeout client          1m
#     timeout server          1m
#     timeout http-keep-alive 10s
#     timeout check           10s
#     maxconn                 3000

# frontend http-in
#     bind *:80
#     default_backend servers

# backend servers
#     balance roundrobin
#     server server1 10.0.0.21:30000 maxconn 32
#     server server2 10.0.0.21:31000 maxconn 32
#     server server3 10.0.0.20:30000 maxconn 32
#     server server4 10.0.0.20:31000 maxconn 32
